<div class="ui center aligned placeholder segment msg_error">
    <table class="ui striped celled unstackable table tabelas" id="tabela_lista">
        <tr>
            <td><a class="ui labeled icon button" href="/"><i class="home icon"></i> Página Inicial </a></td>
            <td><a class="ui labeled icon button"><i class="user icon"></i> Logar </a></td>
            <td><a class="ui labeled icon button"><i class="envelope icon"></i> Recuperar Senha </a></td>
        </tr>
    </table>
    <font color="red">CPF já cadastrado</font>
</div>
