<div class="ui center aligned placeholder segment msg_error">
    <table class="ui striped celled unstackable table tabelas" id="tabela_lista">
        <tr>
            <td><a class="ui labeled icon button" href="/"><i class="home icon"></i> Perfil </a></td>
            <td><div class="ui labeled icon button simple dropdown"><i class="dropdown icon"></i> Veículos
                <div class="menu">
                    <a class="item"><i class="caret right icon"></i>Cadastrar</a>
                    <a class="item"><i class="caret right icon"></i>Leiloar</a>
                    <a class="item"><i class="caret right icon"></i>Em Leilão</a>
                </div>
            </div></td>
            <td><a class="ui labeled icon button"><i class="car icon"></i> Leilões Ativos </a></td>
            <td><a class="ui labeled icon button" href="/sair"><i class="power off icon"></i> Sair </a></td>
        </tr>
    </table>
</div>
