{% extends 'bases/base_logado.html' %}
{% load static %}
{% block body_block %}
{% csrf_token %}
<div class="padrao">
    <div class="ui center aligned placeholder segment">
        <article class="ui centered cards" id="div_veic">
            {% if dados %}
            {% for dado in dados %}

            <div class="ui card">
                <div class="image">
                    <span id="corner{{ dado.id }}"></span>
                    <img class="imagem_article" src="{% static 'media/' %}{{dado.img}}">
                </div>
                <div class="content">
                    <a class="header">{{ dado.modelo }} - {{ dado.modelo.marca }} ({{ dado.ano_veiculo }})</a>
                    <div class="item">
                       Placa: {{ dado.placa }} <br>
                       Valor Inicial: {{ dado.valor }}<br>
                       Valor Atual: {{ dado.valor_atual }}<br>
                       Status: {{ dado.status }}<br>
                       Prazo: {{ dado.data_final }}<br>
                       {{ dado.mensagem }}<br>
                       comprador: {{dado.usuario_id_comprador}}
                       <!-- {% if dado.user_buy %}
                            
                       {% else %}
                       {% endif %} -->
                    </div>
                    <div class="ui divided list">
                        <!-- {% include "../blocos/botoes_veiculos.html" %} -->
                    </div>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="ui card">
                Não há leilão.
            </div>
            {% endif %}
        </article>
        <table class="ui striped celled unstackable table" id="tabela_lista">
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui right floated pagination secondary menu">
                        {% if dados.has_previous %}
                            <a href="?page={{ dados.previous_page_number }}" class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                        {% endif %}
                        <a class="item">Página {{ dados.number }} de {{ dados.paginator.num_pages }}</a>
                        {% if dados.has_next %}
                            <a href="?page={{ dados.next_page_number }}" class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        {% endif %}
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

{% include 'cadastros/form_veiculos.html' %}
{% include 'veiculos/modalLeiloar.html' %}
{% endblock %}


