.padrao{
    width: 75% !important;
}

footer{
    width: 75% !important;
}

.modalpadrao{
    margin: 30px;
}

.bloco_inicio{
    padding-left: 19%;
}
.bloco_inicio_error{
    padding-left: 19%;
    padding-top: 1%;
}

.imagem_logo{
    padding-left: 29%;

}

.meio_inicio{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, white);
}

.error_cadastro{
    border-radius: 10px;
    margin-bottom: 30px !important;
    padding: 20px !important;
    /*background-color: white !important;*/
    background-image: linear-gradient(white, gray);
}

.tabelas{
    text-align: center !important;
    border: none !important;
}

.msg_error{
    width: 75%;
}
