{% load static %}
<head>
    <title>Auto Auction</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/semantic/semantic.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/semantic/semantic.min.css' %}"/>
    <script src="{% static 'js/jquery-v1.min.js' %}"></script>
    <script src="{% static 'css/semantic/semantic.min.js' %}"></script>
</head>